{% extends 'product/base.html' %}
{% block content %}

    <div class="hero-wrap hero-bread" style="background-image: url('static/images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Політика конфіденційності. Organic Food</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
			<div class="container">
				<div class="row">

					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">

						<div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Збір та використання інформації:</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>Ми збираємо особисту інформацію тільки тоді, коли вона необхідна для надання послуг та виконання замовлень. Це може включати ім'я, адресу, номер телефону та електронну пошту. Ми використовуємо цю інформацію лише для обробки замовлень та забезпечення якісного обслуговування клієнтів.</p>
				</div>

				<div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Безпека і захист інформації:</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>Ми приділяємо велику увагу захисту ваших особистих даних та використовуємо сучасні технології для забезпечення безпеки. Ми не розголошуємо, не передаємо та не продаємо вашу особисту інформацію третім особам без вашого письмового дозволу.</p>
				</div>

				<div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Користувацькі файли (cookies):</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>Наш сайт може використовувати файли cookies для поліпшення зручності користувачів та забезпечення персоналізованого досвіду покупок. Ви маєте можливість відмовитися від використання cookies у налаштуваннях вашого браузера.</p>
				</div>

				<div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Зв'язок з користувачами:</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>Ми можемо звертатися до вас з питань, пов'язаних з вашим замовленням, за допомогою електронної пошти чи телефону. Ми не використовуємо цю інформацію для надсилання непотрібної реклами або розсилок без вашого згоди.</p>
				</div>

				<div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Партнери та посилання на інші сайти:</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>Наш сайт може містити посилання на інші веб-ресурси. Ми не несемо відповідальності за політику конфіденційності цих сайтів та рекомендуємо ознайомитися з їхніми правилами перед наданням особистої інформації.</p>
				</div>

				<div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Зміни у політиці конфіденційності:</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>Ми залишаємо за собою право вносити зміни у цю політику конфіденційності. Оновлення будуть розміщені на цій сторінці, і ми радимо періодично перевіряти їх.</p>
				</div>

						<div class="col-md-9 ftco-animate text-center">
            <h1 id="FAQ" class="mb-0 bread">FAQs</h1>
          </div>

				<div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Як довго я маю час на повернення або обмін товару?</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>Ви маєте можливість повернути або обміняти товар протягом 14 днів з моменту отримання замовлення.</p>
				</div>

				<div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Як я можу зв'язатися з відділом обслуговування клієнтів?</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>Ви можете зв'язатися з нашим відділом обслуговування клієнтів через форму нашого сайту, електронну пошту або телефон. Всі контактні дані вказані на нашому сайті.</p>
				</div>

			<div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Чи можна обміняти товар на інший сорт чи варіацію?</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>Так, ви можете обміняти товар на інший сорт чи варіацію за наявності аналогічного товару в нашому асортименті. Зверніться до нас, щоб отримати деталі.</p>
				</div>
					</div>
				</div>
			</div>
		</section>

{% endblock  %}