{% extends 'product/base.html' %}
{% load product_tags %}
{% block content %}
    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_1.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">{{ title }}</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
    			<div class="col-md-10 mb-5 text-center">
    				<ul class="product-category">
						{% get_category as categories_of_food %}
						{% if category_choice_selected == 0 %}
							<li><a class="active">Всі</a></li>
						{% else %}
							<li><a  href="{%  url 'shop' %}">Всі</a></li>
						{% endif %}

						{% for cat in categories_of_food %}
							{% if cat.pk == category_choice_selected %}
							  <li><a class="active" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
							{% else  %}
								<li><a  href="{{ cat.get_absolute_url }}">{{ cat.name }}</a></li>
							{% endif %}

						{% endfor %}
    				</ul>
    			</div>
    		</div>
    		<div class="row">
				{% for product in products %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="{{ product.get_absolute_url }}" class="img-prod"><img class="img-fluid" src="{{ product.photo.url }}" alt="Colorlib Template">
    						<div class="overlay"></div>
    					</a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="#">{{ product.product_name }}</a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span>{{ product.price }} грн</span></p>
		    					</div>
	    					</div>
    						<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="{{ product.get_absolute_url }}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
	    								<span><i class="ion-ios-menu"></i></span>
	    							</a>
	    							<a href="{% url 'add_cart' product.id %}" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
				{% endfor %}
    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
				  {% if page_obj.has_previous %}
						<li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
				  {% endif %}

				  {% for paginate in paginator.page_range %}
				  {% if page_obj.number == paginate %}
				  <li class="active"><span>{{ paginate }}</span></li>
					{% elif paginate >= page_obj.number|add:-2 and paginate <= page_obj.number|add:2  %}
				  <li><a href="?page={{ paginate }}">{{ paginate }}</a></li>
				  {% endif %}
				  {% endfor %}

				  {% if page_obj.has_next %}
				 	 <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
				  {% endif %}
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>
  {% endblock %}